.content-section {
    padding: 10px;
    background-color: #f0f4f8;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
    position: relative;
}

.content-container {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 15px;
    width: 95%;
    max-width: 800px;
    height: calc(95% - 20px);
    margin-top: 20px;
    transition: all 0.3s ease-in-out;
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    overflow-y: auto;
}

.content-container h2 {
    color: #1a237e;
    margin-bottom: 20px;
    font-weight: 600;
}

.content-container p {
    color: #333;
    line-height: 1.6;
}

.content-next {
    opacity: 0;
    transform: translateX(calc(-50% + 20px));
}

.content-prev {
    opacity: 0;
    transform: translateX(calc(-50% - 20px));
}