:root {
    --navbar-scale: 0.7;
    --navbar-item-size: calc(80px * var(--navbar-scale));
    --navbar-font-size: calc(16px * var(--navbar-scale));
    --navbar-icon-size: calc(28px * var(--navbar-scale));
    --secondary-color: #1a237e;
    --primary-color: #4a90e2;
    --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    --accent-color: #e74c3c;
    --active-color: lightblue; /* New color for active tab */
}

.content-section {
    padding: 10px;
    background-color: #f0f4f8;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
    position: relative;
}

.content-container {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 15px;
    width: 95%;
    max-width: 800px;
    height: calc(95% - 20px);
    margin-top: 20px;
    transition: all 0.3s ease-in-out;
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    overflow-y: auto;
}

.content-container h2 {
    color: #1a237e;
    margin-bottom: 20px;
    font-weight: 600;
}

.content-container p {
    color: #333;
    line-height: 1.6;
}

.content-next {
    opacity: 0;
    transform: translateX(calc(-50% + 20px));
}

.content-prev {
    opacity: 0;
    transform: translateX(calc(-50% - 20px));
}

.navbar {
    background-color: var(--primary-color) !important;
    border-radius: calc(var(--navbar-item-size) / 4);
    padding: 10px;
    box-shadow: var(--box-shadow);
    marg
}

.navbar-nav {
    display: flex;
    flex-direction: row;
}

.nav-item {
    width: var(--navbar-item-size);
    height: var(--navbar-item-size);
    transition: transform 0.3s ease;
}

.nav-link {
    color: white !important;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    padding: 0;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.nav-link.active {
    /* background-color: var(--active-color); */
    border-bottom: 3px solid var(--accent-color);
    transform: scale(1.05);
}

.nav-link:hover {
    background-color: var(--accent-color);
    transform: scale(1.05);
}

.nav-link:hover .icon {
    transform: translateY(-100%);
}

.nav-link:hover::after {
    transform: translateY(0);
}

.nav-link::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: lightblue;
    color: #1a237e;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: var(--navbar-font-size);
    transform: translateY(100%);
    transition: transform 0.4s ease-out;
}

.icon {
    font-size: var(--navbar-icon-size);
    transition: transform 0.4s ease-out;
}
